* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 31px 83px;
    height: 94px;
}
.navigation{
    flex-grow: 1;
}
.logo img{
    width:92px;
    height:32px;
  }
.line{
    width: 2px;
    height: 55px;
    background-color: #fff;
    margin-left: 65px;
}
ul{
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    margin-left: 64px;
}
a{
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.logo , li{
    cursor: pointer;
}
.nav-button button{
    background: #ba0cc5;
    color: #ffffff;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    padding: 7px 28px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }
  .hero{
    text-align: center;
    background-image: url(../assets/bg.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 91.5vh;
  }
  h1{
    max-width: 846px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    text-align: center;
    color: #ffffff;
    padding-top: 172px;
  }
  p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
  .main-button{
    background: #ba0cc5;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29.9487px;
    line-height: 45px;
    color: #ffffff;
    border: none;
    padding: 14px 22px;
    margin-top: 64px;
    cursor: pointer;
  }